## NATURAL LANGUAGE PROCESSING WITH DEEP LEARNING HW #1
## 2023521508 김지은
## 2023.03.08

## 수업 내용

In [173]:
def add_numbers(x,y):
    return x+y

add_numbers(1,2)

3

In [174]:
def add_numbers(x,y,z=None):
    if(z==None):
        return x+y
    else:
        return x+y+z

In [175]:
type("the is string")

str

In [176]:
print(type(None))
print(type(1))
print(type(1.0))
print(type(add_numbers))

<class 'NoneType'>
<class 'int'>
<class 'float'>
<class 'function'>

In [177]:
x=(1,'a',2,'b')
type(x)

tuple

In [178]:
#x[0]=5

In [179]:
x=[1,'a',2,'b']
type(x)

list

In [180]:
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]

In [181]:
for item in x:
    print(item)

1
a
2
b
3.3

In [182]:
for item in range(1,5):
    print(item)

1
2
3
4

In [183]:
i = 0
while( i != len(x)):
    print(x[i])
    i = i+1

1
a
2
b
3.3

In [184]:
x+[3,4]

[1, 'a', 2, 'b', 3.3, 3, 4]

In [185]:
[1]*3

[1, 1, 1]

In [186]:
1 in x

True

In [187]:
x = 'This is string'
x

'This is string'

In [188]:
print(x[0])

T

In [189]:
print(x[0:1])
print(x[0:2])

T
Th

In [190]:
print(x[-4:-1])
print(x[-1])

rin
g

In [191]:
print(x)
print(x[:3])
print(x[3:])
print(x+'.')
print(x+'3')

This is string
Thi
s is string
This is string.
This is string3

In [192]:
#x+3

In [193]:
x = {'Chris':'chris@yonsei.ac.kr','bjang':'bjang@yonsei.ac.kr'}
x['Chris']
#x['chris@yonsei.ac.kr']

'chris@yonsei.ac.kr'

In [194]:
for email in x.values():
    print(email)

for name,email in x.items():
    print(name,email)

print(x.values())

chris@yonsei.ac.kr
bjang@yonsei.ac.kr
Chris chris@yonsei.ac.kr
bjang bjang@yonsei.ac.kr
dict_values(['chris@yonsei.ac.kr', 'bjang@yonsei.ac.kr'])

In [195]:
PI = 3.14
def ar_circle(rad):
    return rad * rad * PI

def ci_circle(rad):
    return rad * 2 * PI

In [196]:
r = float(input("반지름입력:"))
ar = ar_circle(r)
print(ar)

ci = ci_circle(r)
print(ci)

94.985
34.54

In [197]:
class Ageinfo:
    def __init__(self,age):
        self.age = age
        print("news~")
    
    def up_age(self):
        self.age += 1

    def get_age(self):
        return self.age

In [198]:
fa = Ageinfo(39)
ma = Ageinfo(35)
me = Ageinfo(15)

sum = fa.get_age()+ma.get_age()+me.get_age()

print(sum)

fa.up_age()
ma.up_age()
me.up_age()

sum = fa.get_age()+ma.get_age()+me.get_age()

print(sum)

news~
news~
news~
89
92

## 연습문제1

In [199]:
def birth_only(x):
    return x.split('-')[0]


p1 = "070609-2011xxx"
p1 = birth_only(p1)

print(p1)

070609

## 연습문제2

In [200]:
i = 0
while i != 10:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9

## 연습문제 3

In [205]:
lcm = 0
lcm =45
while True:

    if lcm % 6 ==0 and lcm % 45 ==0:
        break
    else:
        lcm= lcm+1

print(lcm)

90

## 연습문제 4,5

In [202]:
dc = {'새우깡' : 700, '콘치즈' : 850, '꼬깔콘' : 750}
dc['홈런볼'] = 900

print(dc)

for i in dc.keys():
    dc[i] +=100

print(dc)

{'새우깡': 700, '콘치즈': 850, '꼬깔콘': 750, '홈런볼': 900}
{'새우깡': 800, '콘치즈': 950, '꼬깔콘': 850, '홈런볼': 1000}

## 연습문제 6

In [203]:
class Friend:
    def __init__(self,name,num):
        self.name = name
        self.num = num

    def get_name(self):
        return self.name

    def get_phone(self):
        return self.num

    def set_phone(self,num):
        self.num = num

    def show_info(self):
        print('이름'+self.name)
        print('전화번호'+self.num)

In [204]:
f=Friend('윤성우','010-111-222')
f.get_name()
f.get_phone()
f.show_info()

이름윤성우
전화번호010-111-222